<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>joinPage</title>
</head>
<body>
    <h1>Join Page</h1>
<hr/>
<form action="/join" method="post" name="joinForm">
    <input type="text" name="userName" placeholder="이름"><br/>
    <input type="password" name="password" placeholder="비밀번호"><br/>
    <input type="text" name="nickName" placeholder="닉네임"><br/>
    <input type="text" name="phone" placeholder="폰번호"><br/>
    <input type="submit" value="Join">
</form>
</body>
</html>